<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    {% block extraStyles %}{% endblock %}
    <title>{% block title %}Series Tv !{% endblock %}</title>
</head>
<body>
<div class="container">
    <header>
        <h1><a href="{{ path('main_home') }}"></a><img src="{{ asset('img/yin_yang.png') }}" alt="YinYang"></h1>
        {% include('include/nav.html.twig') %}
    </header>
    <!--copie de la doc symfony controller : https://symfony.com/doc/current/controller.html#flash-messages-->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}"> <!-- rajout de class flash-->
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block body %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy;{{ "now"|date("Y") }} Series !</p>
    </footer>
</div>
</body>
</html>